extends ../layouts/main.pug

block content
  .container
    header
      h1= "Chat: " + name

    div 
      h3 Participants:
      each author in authors
        p=author.email

      form(action="/chats/addnewparticipant", method = "POST")
        .form-group
          label Enter participant email 
          input.form-control(name="email", required)
          input(type="hidden", name="chat_id", value=chat_id)
        .form-group
          button.btn.btn-dark(type="submit") Submit
    div
      table.table.table-striped
        thead
          tr
            th Who?
            th Said what?
            th When?
        
        tbody
          each message in messages
            tr
              td= message.author.email
              td= message.content
              td= message.updatedAt
    div
      form(action="/chats/addnewmessage", method = "POST")
        .form-group
          label Enter your message 
          input.form-control(name="message[text]", required)
          input(type="hidden", name="message[chat_id]", value=chat_id)
        .form-group
          button.btn.btn-dark(type="submit") Submit